.about {
  margin-top: 8rem;
  min-height: 40vh;
  text-align: center;

  p {
    padding: 5rem 20rem;
    font-weight: bold;
  }

  button {
    @include main-button($button-color-dark);
    color: white;
  }
}