.about {
  margin-top: 8rem;
  min-height: 40vh;
  text-align: center;

  p {
    padding: 5rem 20rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
  }

  button {
    @include main-button($button-color-dark);
    color: white;
  }
}