header {
  width: 100vw;
  position: fixed;
  z-index: 99;
  min-height: 15vh;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  transition: all 0.5s ease-in;

  .logo {
    flex: 1 1 32rem;
    margin-top: 1rem;

  }

  .navigation {
    flex: 1 1 40rem;

    ul {
      text-transform: uppercase;
      @include flex(space-evenly, center, row);
      margin-top: 2.5rem;

      li a {
        &:hover {
          transition: all 0.25s ease-in-out;
          color: rgb(141, 133, 135);
        }
      }
    }
  }
}

.bg-change {
  background: rgba(0, 0, 0, 0.863);
  min-height: 7rem;
  color: white;
  opacity: 1;
  transition: all 1s ease-in;

  a {
    color: white;
  }
}

.main-head {
  position: relative;
  overflow: hidden;

  .main-border-left {
    position: absolute;
    top: 20%;
    left: -25rem;
    min-width: 45rem;
    min-height: 50rem;
    border: 1.7rem solid #212121;
    opacity: 0.2;
    z-index: -1;
  }

  .main-border-right {
    position: absolute;
    top: 25%;
    right: -5rem;
    min-width: 28rem;
    min-height: 38rem;
    border: 1.7rem solid #fff;
    opacity: 0.8;
  }

  h3 {
    padding: 1.3rem;
  }

  @include flex(0, center, row);
  flex-wrap: wrap;

  .main-text {
    flex: 1 1 40rem;
    padding: 30rem 0;
  }

  .button-1 {
    @include main-button($button-color-dark);
    color: white;
  }

  .button-2 {
    @include main-button($button-color-white)
  }

  .main-image {
    flex: 1 1 40rem;
    background: $background-color;
  }
}